{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <h1> </h1>
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Login Here</a></li>
                <li><a href="{% url 'register' %}">New user? Register here</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Default Content -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2023 My Django App</p>
    </footer>
</body>

</html>